<div class="flex flex-col md:flex-row h-screen w-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-white">

  <!-- Sidebar -->
  <app-sidebar 
    class="w-full fixed bottom-0 z-50 md:static md:w-64 md:h-full">
  </app-sidebar>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col pb-12 md:pb-0">
    <!-- Topbar -->
    <app-topbar class="h-16"></app-topbar>

    <!-- Main router outlet -->
    <main class="flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
